body {
  padding-top: 60px;
}

img.meigen {
  width: 240px;
  height: 320px;
  border: solid 1px #fff;
}

img.meigen.hover {
  border: solid 1px #888;
}

.meigen-thumbnail {
  overflow: hidden;
  height: 410px;
  padding-top: 24px;
}

.meigen-thumbnail .title {
  margin: 0;
  padding: 10px 25px 5px;
  min-height: 3em;
}

.meigen-thumbnail .metadata {
  margin: 0;
  padding: 0 25px 10px;
  position: relative;
}

.meigen-thumbnail .metadata .character {
  position: absolute;
  bottom: 11px;
  right: 25px;
}

.navbar-search .search-query {
  padding-left: 29px;
  padding-right: 29px;
}

.navbar-search div.icon-search {
  position: absolute;
  top: 7px;
  left: 11px;
  background-image: url("http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings.png");
}

.navbar-search div.icon-remove {
  position: absolute;
  top: 7px;
  left: 240px;
  background-image: url("http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings.png");
}

.cid-facet-remove {
  cursor: pointer;
  margin-left: 10px;
}

.hit-count {
  margin-left: 10px;
}

.top-meigens {
  min-height: 460px;
}

footer p {
  text-align: center;
}

footer * {
  font-size: 95%;
}
