body {
  padding-top: 60px;
}

img.boy {
  width: 240px;
  height: 320px;
}

.boy-thumbnail {
  overflow: hidden;
  height: 410px;
  padding-top: 24px;
}

.boy-thumbnail .title {
  margin: 0;
  padding: 10px 25px 5px;
  min-height: 3em;
}

.boy-thumbnail .metadata {
  margin: 0;
  padding: 0 25px 10px;
  position: relative;
}

.boy-thumbnail .metadata .character {
  position: absolute;
  bottom: 11px;
  right: 25px;
}

.navbar-search .search-query {
  padding-left: 29px;
}

.navbar-search .icon-search {
  position: absolute;
  top: 7px;
  left: 11px;
  background-image: url("http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings.png");
}

footer p {
  text-align: center;
}

footer * {
  font-size: 95%;
}
